@page
@using Microsoft.AspNetCore.Authentication
@model Virtuelly.Web.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";   
}
<h1>@ViewData["Title"]</h1>
<p>Log in to your account.</p>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="Input.RememberMe" class="form-check-input" />
        <label asp-for="Input.RememberMe" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
<h2>Or login with:</h2>
@if (Model.ExternalLogins != null)
{
    foreach (var scheme in Model.ExternalLogins)
    {
        <form method="post" asp-page-handler="ExternalLogin" asp-route-provider="@scheme.Name">
            <button type="submit" class="btn btn-secondary">@scheme.DisplayName</button>
        </form>
    }
}   </form>
